body {
  background-color: #edf2f4;
}

header {
  background-color: #2b2d42;
  color: #ef233c;
  text-align: center;
}

input,
select {
  color: #2b2d42;
  background-color: #8d99ae;
}

label {
  color: #d80032;
}

button {
  background-color: #2b2d42;
  color: #ef233c;
}

button:hover {
  background-color: #ef233c;
  color: #2b2d42;
}

button:active {
  background-color: #8d99ae;
  color: #edf2f4;
}
